<div data-id="C30" class="C30-share-article uk-container uk-container-xsmall">
  <div class="uk-grid-small uk-text-left" uk-grid>
    <div class="uk-width-1-4@m">
      <h4>Share article</h4>
      {{ $.Site.Params.socialurl }}
    </div>
    <div class="uk-width-3-4@m uk-text-right@m">
      <a href="https://www.facebook.com/sharer/sharer.php?u={{ htmlEscape .Permalink }}" class="uk-icon-button uk-text-emphasis social-share">
        <span uk-icon="facebook"></span>
      </a>
      <a href="https://twitter.com/intent/tweet?url={{ htmlEscape .Permalink }}&text={{ htmlEscape $.Site.Title }}&via=twitter"  class="uk-icon-button uk-text-emphasis social-share">
        <span uk-icon="twitter"></span>
      </a>
      <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ htmlEscape .Permalink }}" class="uk-icon-button uk-text-emphasis social-share">
        <span uk-icon="linkedin"></span>
      </a>
      <a href="mailto:?subject={{ $.Site.Title }}&body={{ htmlEscape .Permalink }}" class="uk-icon-button uk-text-emphasis social-share">
        <span uk-icon="mail"></span>
      </a>
    </div>
  </div>
</div>
