.C08-stacked-content-top-image {
  @include svgLine();
  @include componentSpacingCompile($small:false);

  figure {
    position: relative;

    figcaption {
      position: absolute;
      bottom: 0;
      right: 0;
      color: $global-white;
      background: rgba($global-black, 0.8);
      padding: 5px 15px;
      font-size: 17px;
    }
  }

  @media (min-width: $breakpoint-large) {
    .uk-card-body {
      padding-right: 0;
    }
  }
}
