.C15-quote {
  margin-top: 60px;
  margin-bottom: 40px;

  &__author {
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 140%;
  }

  &--grid {
    &.uk-align-center {
      margin-bottom: 0;
    }
  }
}
