.C28-separator-line {

  &.margin-top {
    margin-top: 60px;

    @media (max-width: $breakpoint-medium) {
      margin-top: 40px;
    }

    @media (max-width: $breakpoint-small) {
      margin-top: 20px;
    }
  }

  &.margin-bottom {
    margin-bottom: 60px;

    @media (max-width: $breakpoint-medium) {
      margin-bottom: 40px;
    }

    @media (max-width: $breakpoint-small) {
      margin-bottom: 20px;
    }
  }

  &__svg {
    width: 100%;

    @media (max-width: $breakpoint-small) {
      display: none;
    }

    &-mobile {
      display: none;

      @media (max-width: $breakpoint-small) {
        width: 100%;
        display: block;
      }
    }
  }
}
