{{- $title := .Module.heading | default "You might be interested in" -}}
<div class="uk-section uk-background-muted">
  <div class="uk-container">
    <h3 class="uk-text-center">{{ $title }}</h3>
    <div class="uk-container">
      <div class="cards-wrapper">
        {{- if .Module.resources -}}
          {{ range $index, $item := .Module.resources }}
            {{ if le $index 2 }}
              {{- $page := print "/resources/" $item "/" -}}
              {{ range where $.Site.Pages "URL" $page }}
                {{ partial "card" (dict "item" .) }}
              {{ end }}
            {{ end }}
          {{ end }}
        {{- else -}}
          {{- $related := (where .Site.RegularPages "Type" "resources") | first 3 -}}
          {{ with $related }}
            {{ range . }}
              {{ partial "card" (dict "item" .) }}
            {{ end }}
          {{ end }}
        {{- end -}}
      </div>
    </div>
  </div>
</div>
