.jumbotron {
  overflow: hidden;
  position: relative;

  .uk-icon {
    position: relative;
    top: -2px;
  }

  @media (min-width: $breakpoint-medium) {
    .uk-button {
      margin-top: 20px;
    }
  }

  &.isHome {
    .uk-background-cover {
      padding-top: 280px;
      padding-bottom: 170px;

      @media (max-width: $breakpoint-small) {
        padding-top: 180px;
        padding-bottom: 0;
      }
    }
  }
  .uk-background-cover {
    padding-top: 80px;
    min-height: 662px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    > .uk-container {
      width: 100%;
    }

    @media (max-width: $breakpoint-medium) {
      min-height: 480px;
    }

    @media (max-width: $breakpoint-small) {
      justify-content: flex-end;
      min-height: 380px;
    }
  }
  .uk-background-transparent {
    $border-radius: 0;
    $border-radius-small: $border-radius/2;

    position: relative;
    max-width: 556px;
    padding-top: 60px;
    padding-bottom: 60px;
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;

    @media (max-width: $breakpoint-small) {
      max-width: 96%;
      padding: 60px 0 30px;
    }

    > * {
      margin-bottom: 0;

      & + * {
        margin-top: 32px;

        @media (min-width: $breakpoint-small) {
          margin-top: 45px;
        }
      }
    }
  }

  .C01-hero__title {
    color: white;
  }

  &.C01-hero__noimage {
    .uk-background-cover {
      background-color: $grey-lightest;
    }
    .C01-hero__title {
      color: $global-black;
    }
  }

  &.C01-hero__right-image {
    @media (max-width: $breakpoint-small) {
      .uk-container {
        padding-left: 0;
        padding-right: 0;

        .uk-grid-item-match {
          margin-left: 15px;
          margin-right: 15px;
        }
      }
    }
    .uk-background-cover {
      padding-top: 14%;
      padding-bottom: 11%;

      @media (max-width: $breakpoint-medium) {
        padding-top: 80px;
        padding-bottom: 30px;
      }

      h1,
      p {
        padding-right: 20px;

        @media (min-width: $breakpoint-medium) {
          padding-right: 80px;
        }
      }

      .C01-hero__svg-horizontal {
        width: 100%;
        max-width: 204px;
      }

      .C01-hero__banner-right-container {
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        @media (max-width: $breakpoint-medium) {
          order: -1;
        }

        @media(min-width: $breakpoint-medium) {
          position: absolute;
          right: 0;
          top: 80px;
          width: 50%;
          height: 100%;
        }
      }
    }
  }
  &.C01-hero__no-right-image {
    .uk-background-cover {
      padding-top: 150px;
      padding-bottom: 50px;

      @media (max-width: $breakpoint-small) {
        padding-top: 100px;
        padding-bottom: 30px;
      }

      h1,
      p {
        padding-right: 20px;
      }

      .C01-hero__svg-vertical {
        display: block;

        @media (max-width: $breakpoint-small) {
          display: none;
        }
      }
      .C01-hero__svg-container {
        display: block;

        @media (max-width: $breakpoint-small) {
          display: none;
        }
      }
      .C01-hero__svg-horizontal {
        width: 100%;
        max-width: 204px;
        display: none;

        @media (max-width: $breakpoint-small) {
          display: block;
        }
      }
    }
  }
  .C01-hero__cta-wrapper {
    margin-bottom: 40px;
  }
}
